
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
      
</head>
<body>
   
     
    <section id = "contact1" class = "contact1 py1">
        <div class = "container1 grid1">
            <div class = "contact-left1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.710877308378!2d77.75924961385763!3d13.05406641659768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae133c7c77828d%3A0x89fbcd434743b11b!2siNeuron.ai!5e0!3m2!1sen!2sin!4v1680268729151!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class = "contact-right1 text-white1 text-center1 bg-blue1">
                <div class = "contact-head1">
                    <h3 class = "lead1">Contact Us</h3>
                    <p class = "text1 text-md1">Send Us Message, Suggestions Or Feedback We Will Get Back To You Soon.</p>
                </div>
                <form>
                    <div class = "form-element1">
                        <input type = "text" class = "form-control1" placeholder="Your name">
                    </div>
                    <div class = "form-element1">
                        <input type = "email" class = "form-control1" placeholder="Your email">
                    </div>
                    <div class = "form-element1">
                        <textarea rows = "5" placeholder="Your Message" class = "form-control1"></textarea>
                    </div>
                    <button type = "submit" class = "btn1 btn-white1 btn-submit1">
                        <i class = "fas fa-arrow-right"></i> Send Message
                    </button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>