<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<title>Account registration form</title>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600'
	rel='stylesheet' type='text/css'>
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	rel="stylesheet">

</head>
<body>

	<section>
		<div class="container py1">
			<div class="row">
			<div class="col-md-4 mb-2 p-5">
				<ul class="list-group list-group-flush shadow-lg bg-white rounded">
					<li class="list-group-item list-group-item-light font-weight-bold"><a th:href="@{/signin}">Patient Login</a></li>
					
					<li class="list-group-item list-group-item-light font-weight-bold"><a th:href="@{/patient-registration}">Register As Patient</a></li>
						
					<li class="list-group-item list-group-item-light font-weight-bold"><a th:href="@{/doctor-registration}">Register As Doctor</a></li>
			
				</ul>
			</div>
				<div class="col-md-8 p-5">
				<table class="table  table-bordered table-striped  shadow-lg">
					<thead>
						<tr>
							<th scope="col">Doctor Name</th>
							<th scope="col">Clinic Address</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="doc : ${doctor}">
							<td th:text="${doc.fname}+' '+${doc.lname}"></td>
							<td
								th:text="${doc.streetAddress}+', '+${doc.landmark}+ ', '+${doc.city}+ ', '+${doc.state}"></td>
						</tr>
					</tbody>
				</table>
				
			</div>

			</div>
		</div>
	</section>
</body>
</html>