<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration Form</title>

</head>



<body >

<section>
    <div class="container-fluid row py1">
         
        <form   class="col-md-9 p-1" th:action="@{/patient_register}" method="post" th:object="${patient}"> 

            <h2 style="text-align: center; padding: 1rem; color: red;">Patient Registration Form</h2>

            <div class="row">

                <h3 class="offset-md-2">Patient Name</h3>

                <div class="col-md-4 offset-md-2">
                    <label for="exampleInputEmail1"  class="form-label">First Name</label>             	
                    <input name="fname" type="text"  placeholder="First Name" class="form-control" th:classappend="${#fields.hasErrors('fname') ? 'is-invalid': '' }" id="exampleInputEmail1" aria-describedby="emailHelp" th:value="${patient.fname}">
   
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('fname')}" th:text="${e}"></div>
                </div>

                <div class="col-md-4">
                    <label for="exampleInputPassword1" class="form-label">Last Name</label>
                    <input name="lname" th:value="${patient.lname}" placeholder="Last Name" type="text" th:classappend="${#fields.hasErrors('lname') ? 'is-invalid': '' }" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('lname')}" th:text="${e}"></div>
                </div>

            </div>

<hr>

            <div class="row">

                <h3 class="offset-md-2">Address</h3>

                <div class="col-md-8 offset-md-2">
                    <label for="exampleInputEmail1" class="form-label">Street Address</label>
                    <input  name="streetAddress" type="text" th:classappend="${#fields.hasErrors('streetAddress') ? 'is-invalid': '' }" placeholder="Address" th:value="${patient.streetAddress}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('streetAddress')}" th:text="${e}"></div>
                </div>

                <div class="col-md-4 offset-md-2">
                    <label for="exampleInputPassword1"  class="form-label">Landmark</label>
                    <input name="landmark" type="text" th:classappend="${#fields.hasErrors('landmark') ? 'is-invalid': '' }" placeholder="Landmark (Optional)" th:value="${patient.landmark}" class="form-control" id="exampleInputPassword1">
                     <div class="invalid-feedback" th:each="e : ${#fields.errors('landmark')}" th:text="${e}"></div>
                </div>


                <div class="col-md-4 ">
                    <label for="exampleInputPassword1" class="form-label">City</label>
                    <input name="city" type="text" th:classappend="${#fields.hasErrors('city') ? 'is-invalid': '' }" th:value="${patient.city}" placeholder="City" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('city')}" th:text="${e}"></div>
                </div>



                <div class="col-md-4 offset-md-2">
                    <label for="exampleInputPassword1" class="form-label">State</label>
                    <input name="state" type="text" th:value="${patient.state}" th:classappend="${#fields.hasErrors('state') ? 'is-invalid': '' }" placeholder="State" class="form-control" id="exampleInputPassword1">
                     <div class="invalid-feedback" th:each="e : ${#fields.errors('state')}" th:text="${e}"></div>
                </div>


                <div class="col-md-4 ">
                    <label for="exampleInputPassword1" class="form-label">Postal / Zip Code</label>
                    <input name="pin" type="text" th:classappend="${#fields.hasErrors('pin') ? 'is-invalid': '' }" th:value="${patient.pin}" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('pin')}" th:text="${e}"></div>
                </div>
            </div>
<hr>

            <div class="row">

                <div class="col-md-4 offset-md-2">
                    <h3>Date of Birth</h3>
                    <input name="dob" type="date" th:classappend="${#fields.hasErrors('dob') ? 'is-invalid': '' }" th:value="${patient.dob}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('dob')}" th:text="${e}"></div>
                </div>


                <div class="col-md-4 ">
                    <h3>Marital Status</h3>
                    <select name="maritalStatus" class="form-select" th:classappend="${#fields.hasErrors('maritalStatus') ? 'is-invalid': '' }" th:value="${patient.maritalStatus}" aria-label="Default select example">
                        <option selected>Please Select</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Divorced">Divorced</option>
                    </select>
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('maritalStatus')}" th:text="${e}"></div>
                </div>
            </div>

<hr>
            <div class="row">

                <div class="col-md-4 offset-md-2">
                    <h3>Email</h3>
                    <input type="email"name="email" th:classappend="${#fields.hasErrors('email') ? 'is-invalid': '' }" th:value="${patient.email}" placeholder="abc@example.com" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
                </div>

                <div class="col-md-4">
                    <h3>Phone</h3>
                    <input type="text" placeholder="Enter Phone" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid': '' }" name="phone" th:value="${patient.phone}" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
                </div>
                
                
                 <div class="col-md-4 offset-md-2">
                    <h3>Password</h3>
                    <input type="password" name="password" th:classappend="${#fields.hasErrors('password') ? 'is-invalid': '' }" placeholder= "Password" class="form-control" id="exampleInputPassword1">
              <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>
                </div>

                <div class="col-md-4">
                    <h3>Verify Password</h3>
                    <input type="text" class="form-control" placeholder="Verify Password" id="exampleInputPassword1">
              
                </div>
               
            </div>

       
<hr>

            <div>



            <h3 class="offset-md-2">Emergency Contact Information</h3>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input type="text" placeholder="Full Name" th:classappend="${#fields.hasErrors('emergencyName') ? 'is-invalid': '' }" name="emergencyName" th:value="${patient.emergencyName}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('emergencyName')}" th:text="${e}"></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-4 offset-md-2">
                    <h3>Phone</h3>
                    <input type="text" placeholder="Enter Phone" th:classappend="${#fields.hasErrors('emergencyContact') ? 'is-invalid': '' }" name="emergencyContact" th:value="${patient.emergencyContact}" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('emergencyContact')}" th:text="${e}"></div>
                </div>

                <div class="col-md-4">
                    <h3>Relation</h3>
                    <input type="text" name="emergencyRelation" th:classappend="${#fields.hasErrors('emergencyRelation') ? 'is-invalid': '' }" th:value="${patient.emergencyRelation}" class="form-control" id="exampleInputPassword1">
                	<div class="invalid-feedback" th:each="e : ${#fields.errors('emergencyRelation')}" th:text="${e}"></div>
                </div>

            </div>

<hr>
        </div>


        <div class="offset-md-2">
            <h3>Medical History</h3>
            <div class="row">

               <h5>Please check all the apply </h5>
                <div class="col-md-4">
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      

                </div>



                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="None" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          None
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Anemia" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Anemia
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Anxiety" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Anxiety
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Asthma" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Asthma
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Benign Prostatic" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Benign Prostatic
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      

                </div>


            </div>

        </div>
<hr>




        <div>
            <div class="row">

                <div class="col-md-4 offset-md-2">
                    <h3>Do you use tobacco?</h3>
                    <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">No</label>
                     </div>

                     <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">Daily</label>
                     </div>

                     <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">Weekly</label>
                     </div>
                 
                </div>

                <div class="col-md-4">
                    <h3> Do you use alcohol?</h3>
                    <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">No</label>
                     </div>

                     <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">Daily</label>
                     </div>

                     <div>
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                        <label class="form-label">Weekly</label>
                     </div>
                 
                </div>

            </div>


        </div>



<hr>



        <div class="offset-md-2">
            <h3>Family History</h3>
            <div class="row">

               <h5>Please check all the apply </h5>
                <div class="col-md-4">
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      

                </div>

                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="None" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          None
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Anemia" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Anemia
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Anxiety" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Anxiety
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Asthma" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Asthma
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Benign Prostatic" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Benign Prostatic
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>
                </div>

            </div>
    </div>
    <hr>

            <div class="mb-3 form-check offset-md-2 mt-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agreement">
                <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
           
            </div>
           

            <button type="submit" class="btn btn-primary offset-md-2">Submit</button>

        </form>

        <div class="col-md-3 ">
        
  			
		</div>
        
        </div>
   
</section>   
</body>

</html>